langgraph
faster-whisper
sounddevice
soundfile
numpy
openwakeword
langchain
langchain-ollama
langchain-core
pyaudio
silero-vad
python-dotenv
scipy
pyttsx3
psutil
pyperclip
mss
pytesseract
Pillow
pygetwindow
ddgs
pycaw
comtypes
chromadb
pyautogui
chromadb
sentence-transformers
pystray 
